.about-us {
    width: 1250px;
    height: auto;
    border-radius: 15px;
    display: flex;
    background-color: #fff;
    border: 5px #eee;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    white-space: normal;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e74c3c;
    border-radius: 50%;
    animation: spin 1s linear infinite
}

.LoadingText {
    font-size: 2em;
    color: #e74c3c;
}

.loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AboutText {
    text-align: center;
    padding: 40px;
    font-family: sans-serif;
}

.explanation {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}