<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ticket Champion是一個提供驗證碼練習與搶票練習的網站，讓使用者可以練習驗證碼的輸入，以及搶票的流程，提升搶票的成功率。">
    <meta name="keywords" content="Ticket Champion,搶票,驗證碼,練習,kktix,ticket plus,遠大,tixcraft,拓元">
    <title>Ticket Champion</title>
    <link rel="icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/template.css">
    <script src="/static/js/template.js"></script>
</head>

<body>
    <header class="top-header">
        <div class="limit">
            <a href="/"><img src="static/img/logo.png" class="logo"></a>
            <ul class="top-list">
                <li>
                    <a href="/about">
                        關於我們
                    </a>
                </li>
                <li>
                    <a href="/help_us">
                        幫助我們
                    </a>
                </li>
                <li>
                    <a href="/qa">
                        Q&A
                    </a>
                </li>
                <li id="dropdown" class="dropdown-li">
                    <button id="account-button">帳號</button>
                    <ul class="dropdown-content" id="dropdown-content">
                        <li>
                            <a href="/log-in" id="log-in">
                                登入
                            </a>
                        </li>
                        <li>
                            <a href="/sign-up" id="sign-up">
                                註冊
                            </a>
                        </li>
                        <li>
                            <button id="log-out">
                                登出
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="b">
        <div class="login-box">
            <h1>404 not found</h1>
        </div>
    </div>
    <div class="about">
        <div class="about-limit">
            <a href="/"><img src="static/img/logo.png" class="logo"></a>
            <ul class="about-ul">
                <li><a href="https://instergram.com.tw">ig</a></li>
                <li><a href="https://facebook.com.tw">fb</a></li>
                <li><a href="/mail">email</a></li>
            </ul>

        </div>
    </div>
    <div class="least">
        <p></p>
    </div>

</body>

</html>