<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <script src="/static/js/admin.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <h1>管理員登入</h1>
    <input type="text" id="account" placeholder="帳號">
    <input type="password" id="password" placeholder="密碼">
    <img id="captcha"><input type="password" id="captchacode">
    <button id="submit">登入</button>
    <br>
    <br>
    <br>
    <br>
    <h5>對，我很懶，懶到沒幫這個介面寫css</h5>
</body>

</html>