<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv=PRAGMA content=NO-CACHE>
    <meta http-equiv=EXPIRES content=0>
    <meta http-equiv=CACHE-CONTROL content=NO-CACHE>
    <meta name=ckc content=bw>
    <link rel=icon href=/favicon.ico>
    <title>Ticket Plus遠大售票系統</title>
    <meta name=description content="Ticket Plus遠大售票系統，買票最直覺的售票平台！">
    <meta name=keywords content="遠大,遠大售票,ticket plus,Ticket Plus,TicketPlus.售票">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css>
    <script src=/assets/js/js-cookie.js></script>
    <link href=/static/css/tp/chunk-03bc9944.828fb50a.css rel=prefetch>
    <link href=/static/css/tp/chunk-04fefdf3.b9dc037a.css rel=prefetch>
    <link href=/static/css/tp/chunk-0513f7cb.42dc1e37.css rel=prefetch>
    <link href=/static/css/tp/chunk-0529f87b.3d84b9f3.css rel=prefetch>
    <link href=/static/css/tp/chunk-0958b38c.44dad0d0.css rel=prefetch>
    <link href=/static/css/tp/chunk-19afd6bc.bcb999d2.css rel=prefetch>
    <link href=/static/css/tp/chunk-1a71f7c2.d0d286bc.css rel=prefetch>
    <link href=/static/css/tp/chunk-1a90694f.cd8dfbbe.css rel=prefetch>
    <link href=/static/css/tp/chunk-22ea93d9.4fb5d06f.css rel=prefetch>
    <link href=/static/css/tp/chunk-25327b97.6fd84e38.css rel=prefetch>
    <link href=/static/css/tp/chunk-2b5c311a.0bf14fcc.css rel=prefetch>
    <link href=/static/css/tp/chunk-2beb5d78.307ed1bd.css rel=prefetch>
    <link href=/static/css/tp/chunk-2fcd9c20.f7019417.css rel=prefetch>
    <link href=/static/css/tp/chunk-31220be6.5f99f056.css rel=prefetch>
    <link href=/static/css/tp/chunk-35876fb9.434f8053.css rel=prefetch>
    <link href=/static/css/tp/chunk-366807cf.51a02fc2.css rel=prefetch>
    <link href=/static/css/tp/chunk-397b4444.6497aecb.css rel=prefetch>
    <link href=/static/css/tp/chunk-3a59dac6.9bea21ef.css rel=prefetch>
    <link href=/static/css/tp/chunk-3c0d1620.b8a19143.css rel=prefetch>
    <link href=/static/css/tp/chunk-3f9a1246.cfec9d41.css rel=prefetch>
    <link href=/static/css/tp/chunk-50b983ca.e46129a3.css rel=prefetch>
    <link href=/static/css/tp/chunk-5604927f.37ce9cfb.css rel=prefetch>
    <link href=/static/css/tp/chunk-5609624e.ec196317.css rel=prefetch>
    <link href=/static/css/tp/chunk-58e66220.ce4368ec.css rel=prefetch>
    <link href=/static/css/tp/chunk-5d38139e.1dd4a5ac.css rel=prefetch>
    <link href=/static/css/tp/chunk-6083c586.7f47fb08.css rel=prefetch>
    <link href=/static/css/tp/chunk-7d3ba9b5.db175a71.css rel=prefetch>
    <link href=/static/css/tp/chunk-805af4fc.c24d3ad0.css rel=prefetch>
    <link href=/static/css/tp/chunk-83c2c2ec.730fcd69.css rel=prefetch>
    <link href=/static/css/tp/chunk-8c439c7e.ce643d27.css rel=prefetch>
    <link href=/static/css/tp/chunk-923f58e4.d619ff93.css rel=prefetch>
    <link href=/static/css/tp/chunk-a1eba0a8.a09d0224.css rel=prefetch>
    <link href=/static/css/tp/chunk-a72c5ce8.1706e573.css rel=prefetch>
    <link href=/static/css/tp/chunk-b2ac300a.8470324f.css rel=prefetch>
    <link href=/static/css/tp/chunk-c11e7670.22422be2.css rel=prefetch>
    <link href=/static/css/tp/chunk-f7d664b0.ff7ec051.css rel=prefetch>
    <link href=/static/js/tp/chunk-03bc9944.62638962.js rel=prefetch>
    <link href=/static/js/tp/chunk-04fefdf3.d32bdc45.js rel=prefetch>
    <link href=/static/js/tp/chunk-0513f7cb.e96ab548.js rel=prefetch>
    <link href=/static/js/tp/chunk-0529f87b.1e628e66.js rel=prefetch>
    <link href=/static/js/tp/chunk-0958b38c.15eccc98.js rel=prefetch>
    <link href=/static/js/tp/chunk-19afd6bc.6607ff55.js rel=prefetch>
    <link href=/static/js/tp/chunk-1a71f7c2.2cdd9f31.js rel=prefetch>
    <link href=/static/js/tp/chunk-1a90694f.50378190.js rel=prefetch>
    <link href=/static/js/tp/chunk-22ea93d9.4b0c53bd.js rel=prefetch>
    <link href=/static/js/tp/chunk-25327b97.11b67fad.js rel=prefetch>
    <link href=/static/js/tp/chunk-2b5c311a.d35ec124.js rel=prefetch>
    <link href=/static/js/tp/chunk-2beb5d78.7aa08bc5.js rel=prefetch>
    <link href=/static/js/tp/chunk-2d0db312.a1697137.js rel=prefetch>
    <link href=/static/js/tp/chunk-2d0e5f4f.485a0abe.js rel=prefetch>
    <link href=/static/js/tp/chunk-2fcd9c20.13c08fe1.js rel=prefetch>
    <link href=/static/js/tp/chunk-31220be6.223f66d9.js rel=prefetch>
    <link href=/static/js/tp/chunk-35876fb9.f29a2758.js rel=prefetch>
    <link href=/static/js/tp/chunk-366807cf.cd1ee106.js rel=prefetch>
    <link href=/static/js/tp/chunk-397b4444.33400001.js rel=prefetch>
    <link href=/static/js/tp/chunk-3a59dac6.2a0a6f13.js rel=prefetch>
    <link href=/static/js/tp/chunk-3c0d1620.878a2119.js rel=prefetch>
    <link href=/static/js/tp/chunk-3f9a1246.2e4230f9.js rel=prefetch>
    <link href=/static/js/tp/chunk-419e3fae.a5b8d2bc.js rel=prefetch>
    <link href=/static/js/tp/chunk-50b983ca.251e7d0e.js rel=prefetch>
    <link href=/static/js/tp/chunk-5604927f.571e5b86.js rel=prefetch>
    <link href=/static/js/tp/chunk-5609624e.e180d295.js rel=prefetch>
    <link href=/static/js/tp/chunk-58e66220.a9572ea2.js rel=prefetch>
    <link href=/static/js/tp/chunk-5d38139e.b26afbd8.js rel=prefetch>
    <link href=/static/js/tp/chunk-6083c586.d00b18c2.js rel=prefetch>
    <link href=/static/js/tp/chunk-7d3ba9b5.a6156869.js rel=prefetch>
    <link href=/static/js/tp/chunk-805af4fc.7aea39dc.js rel=prefetch>
    <link href=/static/js/tp/chunk-83c2c2ec.721eac07.js rel=prefetch>
    <link href=/static/js/tp/chunk-8c439c7e.1715313f.js rel=prefetch>
    <link href=/static/js/tp/chunk-923f58e4.5684e415.js rel=prefetch>
    <link href=/static/js/tp/chunk-a1eba0a8.1f0aad02.js rel=prefetch>
    <link href=/static/js/tp/chunk-a72c5ce8.38d4cd97.js rel=prefetch>
    <link href=/static/js/tp/chunk-b2ac300a.a84ca670.js rel=prefetch>
    <link href=/static/js/tp/chunk-c11e7670.6cdf1a73.js rel=prefetch>
    <link href=/static/js/tp/chunk-f7d664b0.82d4ce02.js rel=prefetch>
    <link href=/static/css/tp/app.9b8b3ebc.css rel=preload as=style>
    <link href=/static/css/tp/chunk-vendors.858d94d2.css rel=preload as=style>
    <link href=/static/js/tp/app.26ab3368.js rel=preload as=script>
    <link href=/static/js/tp/chunk-vendors.7d999c54.js rel=preload as=script>
    <link href=/static/css/tp/chunk-vendors.858d94d2.css rel=stylesheet>
    <link href=/static/css/tp/app.9b8b3ebc.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app></div>
    <script src=/static/js/tp/chunk-vendors.7d999c54.js></script>
    <script src=/static/js/tp/app.26ab3368.js></script>
</body>

</html>